@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Wix Madefor Text', sans-serif;
}

:root {
  --primary-color: rgb(146, 146, 146);
  --secondary-color: dimgrey;
  --tertiary-color: gainsboro;
  --inputFocus-color: rgb(153, 149, 149);
  --shadow-color: rgba(0, 0, 0, 0.8);
}

body {
  height: 100vh;
  background-color: var(--primary-color);
  font-size: 15px;
  font-family: 'Wix Madefor Text', sans-serif;
}

header .containerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: var(--tertiary-color);
}

header .containerHeader .imgLogo {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

header .containerHeader .imgLink {
  padding-left: 0.3em;
}

header .containerHeader .logo {
  font-size: 1.5em;
  text-decoration: none;
  color: var(--secondary-color);
}

header .containerHeader span {
  color: rgb(239, 86, 86);
}

footer .containerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--tertiary-color);
}

footer .containerFooter p {
  font-size: 1em;
  color: var(--secondary-color);
}

footer .containerFooter .footerLink {
  text-decoration: none;
  color: rgb(239, 86, 86);
}

footer .containerFooter .footerLink:hover {
  cursor: pointer;
  color: rgb(225, 35, 35);
}

footer .containerFooter .emoji {
  color: red;
  text-decoration: none;
  cursor: text;
}

#container {
  position: relative;
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background-color: #ffff;
  border-radius: 20px;
  box-shadow: 5px 5px var(--shadow-color);
}

#container .title {
  background-color: var(--tertiary-color);
  border-radius: 20px 20px 0 0;
  color: var(--secondary-color);
  padding: 20px;
  text-transform: uppercase;
  font-size: 1.4em;
  text-align: center;
}

.tipsForm {
  padding: 2em;
}

.formInput {
  margin: 1em;
  background-color: var(--tertiary-color);
  width: 80px;
  padding: 6px 6px 8px 6px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.formInput:focus{
  background-color: var(--inputFocus-color);
  outline: none;
  color: #ffff;
}

.formInput:hover {
  background-color: var(--inputFocus-color);
}

.formSelect {
  margin: 1em;
  background-color: var(--tertiary-color);
  width: 12em;
  font-size: 1em;
  padding: 6px 6px 6px 6px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.formSelect:hover {
  cursor: pointer;
}

#totalTips {
  position: relative;
  padding: 0.5em;
  text-align: center;
  height: 70px;
  margin: 1em;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: var(--shadow-color);
  color: #ffff;
  bottom: 40px;
}

#totalTips span {
  padding-right: 10px;
}

.btnSubmit {
  position: absolute;
  bottom: 20px;
  border-radius: 25px;
  width: 80%;
  height: 40px;
  border: none;
  color: #ffff;
  font-size: 1.1em;
  background-color: rgb(139, 233, 202);
  text-transform: uppercase;
}

.btnSubmit:hover {
  cursor: pointer;
  background-color: rgb(49, 233, 172);
}

.btnReset {
  position: absolute;
  bottom: 70px;
  border-radius: 25px;
  width: 80%;
  height: 40px;
  border: none;
  color: #ffff;
  font-size: 1.1em;
  background-color: rgb(225, 76, 76);
  text-transform: uppercase;
}

.btnReset:hover {
  cursor: pointer;
  background-color: rgb(225, 28, 28);
}

@media screen and (max-width: 768px) {
  body {
    height: 120vh;
  }
  
}